
body {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sketch-container {
  display: grid;
  width: 800px;
  height: 800px;
  background-color: black;
}

.grid-element {
  background-color: blue;
  transition-delay: 10s;
}

.grid-element:hover {
  background-color: white;
  transition: 0s;

}